Pandas Section - 1

In [ ]:
import pandas as pd
import numpy as np

In [5]:

ecs=pd.Series([35.21,12.25,45.12,14.02,13.25,56.12,123.01,102.2])

0     35.21
1     12.25
2     45.12
3     14.02
4     13.25
5     56.12
6    123.01
7    102.20
dtype: float64

In [6]:
ecs

0     35.21
1     12.25
2     45.12
3     14.02
4     13.25
5     56.12
6    123.01
7    102.20
dtype: float64

In [10]:
ecs.name='Population'

In [11]:
ecs

0     35.21
1     12.25
2     45.12
3     14.02
4     13.25
5     56.12
6    123.01
7    102.20
Name: Population, dtype: float64

In [12]:
ecs.values

array([ 35.21,  12.25,  45.12,  14.02,  13.25,  56.12, 123.01, 102.2 ])

In [13]:
ecs.index

RangeIndex(start=0, stop=8, step=1)

In [ ]:
1=['a','b','c']

In [18]:
ecs.index=['India','Pakistan','China','US','UK','Canada','Japan','Russia',]

In [19]:
ecs

India        35.21
Pakistan     12.25
China        45.12
US           14.02
UK           13.25
Canada       56.12
Japan       123.01
Russia      102.20
Name: Population, dtype: float64

In [24]:
pd.Series({'Apple' : 21,'Banana':24,'Chiku':10},name='Fruts')

Apple     21
Banana    24
Chiku     10
Name: Fruts, dtype: int64

In [26]:
pd.Series([12,10,42],index=['Apple','Banana','Chikku'],name='Fruts')

Apple     12
Banana    10
Chikku    42
Name: Fruts, dtype: int64

In [27]:
ecs>45

India       False
Pakistan    False
China        True
US          False
UK          False
Canada       True
Japan        True
Russia       True
Name: Population, dtype: bool

In [28]:
ecs<100

India        True
Pakistan     True
China        True
US           True
UK           True
Canada       True
Japan       False
Russia      False
Name: Population, dtype: bool

In [29]:
ecs[ecs<100]

India       35.21
Pakistan    12.25
China       45.12
US          14.02
UK          13.25
Canada      56.12
Name: Population, dtype: float64